html body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: chartreuse;
    background: #192226;
    color: white;
}


#title {
    font-size: 60px;
    padding: 40px;
    text-align: center;
    margin-bottom: 50px;
}

#f1 {
    max-width: 450px;
}

#f2 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

#f3 {
    text-align: right;
}

#f11 {
    color: tomato;
    font-weight: 400;
}



.form{
    background: white;
    border-radius: 7px;
    width: 95%;
    max-width: 450px;
    margin: 20px auto;
    padding: 4px;
    height: 44px;
    /* display: inline; */   
}

.form input{
    width: 300px;
    float: left;
    border: none;
    align-items: center;
    margin-top: 5px;
    text-align: center;
}

form input:focus{
    outline: none;
}

.form a{
    background-color: rgb(102, 9, 209);
    width: 80px;
    color: white;
    margin-left: 40px;
    display: none;
    float: right;
}

.form:hover input{
    text-align: left;
    padding-left: 10px;
    
}


.form:hover .btn {
    display: block;
}

#f2 span {
    color: rgb(0, 98, 226);

}

#f2 p{
    font-size: 20px;
}




#f3 span{
    color: tomato;
}

.row-content{
    max-width: 420px;
    font-size: 20px;
}

#f4{
    margin: 50px auto;
    text-align: center;
}

#f5{
    background: tomato;
    color: black;
    max-width: 350px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
}

#f6 {
    text-align: center;
    margin-bottom: 100px;
}

#f7{
    text-align: center;  
    margin-bottom: 90px;
}

#f7 a{
    margin-left:40px ;
}


#q1 {
    display: block;
    color: red;
}

#q2 {
    display: none;
    font-size: 16px;
    font-weight: 200;
    color: red;
}

#q3 {
    display: block;
}

#q4 {
    display: none;
    font-size: 12px;
    font-weight: 200;
}


#q5 {
    display: block;
    max-width: 400px;
}


#q6 {
    display: none;
    margin-left: 35px;

}

#q7 {
    display: block;
    margin-bottom: 20px;
}


#q8 {
    margin-right: 0;
    display: none;
    text-align: right;
    margin-bottom: 20px;
}
    
#q9 {
    display: block;
    margin-bottom: 20px;
}


#q10 {
    display: none;
    text-align: right;
    margin-bottom: 20px;
}


#q11 {
    display: block;
    margin-bottom: 20px;
}


#q12 {
    display: none;
    text-align: right;
    margin-bottom: 20px;
}

.carausel-item img{
    width: 10px;
    height: 100px;
}

#c1{
    background: white;
    color: black;
    max-width: 400px;
    height: 200px;
    margin: auto;
    border-radius: 5px;
}

#c1 h3{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}

#c1 p{
    font-size: 15px;
    width: 300px;
    margin: auto;
}

#c2{
    background: white;
    color: black;
    width: 400px;
    height: 200px;
    margin: auto;
    border-radius: 5px;
}


#c2 h3{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}

#c2 p{
    font-size: 15px;
    width: 300px;
    margin: auto;
}

#c3{
    background: white;
    color: black;
    width: 400px;
    height: 200px;
    margin: auto;
    border-radius: 5px;
}

#c3 h3{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}

#c3 p{
    font-size: 15px;
    width: 300px;
    margin: auto;
}

#zxcv {
    margin-bottom: 40px;
}

/* .carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    top: calc(50% - 25px);
}

.carousel-control-prev{
    left: 5%;
}
.carousel-control-next{

} */


@media all and (min-width: 1208px){

    #title{
        text-align: left;
    }
    #f1{
        border-left: 1px ridge white;
    }

    #f3{
        padding-left: 130px;
    }

    #f6{
        text-align: right;
    }

    #f7{
        text-align: left;
        margin-top: 10px;
        
    }

    #zxcv{
        max-width: 300px;
        text-align: left;
        margin-left: 40px;
    }

    #zxcv h1{
        font-size: 70px;
        font-weight: 600;
    }
    
    #q12 {display: block;}
    #q11 {display: none;}
    #q10 {display: block;}
    #q9 {display: none;}
    #q8 {display: block;}
    #q7 {display: none;}
    #q6 {display: block;}
    #q5 {display: none;}
    #q4 {display: block;}
    #q3 {display: none;}
    #q2 {display: block;}
    #q1 {display: none;}
}






